html {
    margin: 0;
    padding: 0;
}
body {
	background: #dadada url('/images/sitebgtile.gif') top left repeat scroll;
	background-color: #dadada;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	margin: 0 auto;
}
    body.normal {
	    max-width: 940px;
	    min-width: 420px;
    }
    body.max {
	    max-width: 90%;
	    min-width: 420px;
    }
.container-fluid {
	background-color: #FFFFFF;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
}
.center {
    text-align:center;
    }
    td.center {
        text-align:center;
    }
h1 {
	font-size: 22px;
	line-height: 22px;
	margin: 0;
	padding: 10px 0px 10px 0px;
	}

h2 {
	font-size: 20px;
	line-height: 20px;
	margin: 0;
	padding: 10px 0px 10px 0px;
	}
h3 {
	font-size: 18px;
	line-height: 18px;
	margin: 0;
	padding: 10px 0px 10px 0px;
	}

header#site-header {
	border-bottom: 14px solid #808080;
	margin: 0px;
	padding: 20px 0px 0px 0px;	
}
	header#site-header #account-admin {
		color: #7a7a7a;	
		font-size: 12px;
		font-style: italic;
		text-align: right;
	}
		header#site-header #account-admin p {
			line-height: 16px;
			margin: 0;
		}
		header#site-header #account-admin div {
			font-size: 24px;
			color: red;
            font-style: italic;
            margin-top:20px;
            margin-bottom:5px;
		}
	
#admin-areas  {
	display: block;
	margin: 30px 0px 10px 0px;
	position: relative;
}	
	#admin-areas section {
		display: block;
		float: left;
		padding-right: 10px;
		position: relative;
		min-height: 250px;
		width: 190px;
	}
	#admin-areas section h1 {
		font-size: 15px;
		line-height: 17px;	
	}
	#admin-areas section img {
		border: 1px solid #aeaeae;
		margin: 0px 0px 5px 0px;
	}
	#admin-areas section p {
		font-size: 13px;
		line-height: 17px;
	}
	
nav#admin-subnavigation  {
	background-color: #f0f0f0;
	margin-bottom: 30px;
}	
	nav#admin-subnavigation ul {
		display: block;
		margin: 0;
		position: relative;
		width: 100%;
	}
		nav#admin-subnavigation ul li {
			float: left;
			list-style-position: inside;
			list-style-type: none;
			text-indent: 0px;
			text-decoration: none;
		}
		nav#admin-subnavigation ul li form{
			padding: 4px 0px 0px 15px;
			margin: 0;
		}
		nav#admin-subnavigation ul li a {
			border-right: 1px solid #aeaeae;
			display: block;
			font-size: 13px;
			font-weight: bold;
			line-height: 30px;
			padding-left: 15px;
			padding-right: 15px;
			margin: 3px 0px 3px 0px;
		}
table.table-bordered tr.button-row  td {
	background-color: #e2f1f6;
	padding: 7px;
}
a.add-item  {
	font-size: 10px;
	font-weight: normal;
	padding-left: 3px;
	}
		
footer {
	font-size: 12px;
	padding-top: 10px;
	text-align: center;
	}
	
div.formField 
{
    padding: 5px 0px 5px 0px;
}

div.well 
{
    padding: 0px 0px 0px 0px;
    margin-bottom: 10px
}

    div.well form {
        margin: 0px 0px 0px 0px;
    }

.helper-text {
    color: #414141;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
}
	
/* utility classes */
.float-left {
	display: block;
    float: left;
	position: relative;
}

/* styles for validation helpers */

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

select.input-validation-error {
    border: 1px solid red;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}


/*
    Below are the CSS styles for distributor applications.
*/

.order-status-header3 {
    float: left;
}

/* utility column layout classes - ONLY use these if the bootstrap automatic column stacking is NOT desired */
.two-column-1, .two-column-2, .three-column-1, .three-column-2, .three-column-3 {
	display: block;
	position: relative;
}
.two-column-1 {
	float: left;
	padding-left: 2%;
	width: 45%;
}
.two-column-2 {
	float: right;
	padding-left: 2%;
	width: 45%;
}

/* ----------------------------------------------BASE HTML TAGS ----------------------------------------------*/

.tab-content{
	overflow:hidden;
}
legend{
	background-color:rgba(128, 128, 128, 0.52);
	color:#333333;
	font-size:16px;
	font-weight:bold;
	padding-left:17px;
	width:98%;
    border-radius:20px;
    
}

form{
	background-color:#ffffff;
	padding:2%;
	width:96%;
	margin:0;
}

fieldset{
	padding: 0 0 3%;
}

/*----------------------------------------------header ----------------------------------------------*/

/* site header area */
header#site-header {
	border-bottom: 14px solid #808080;
	padding: 20px 0px 0px 0px;
	
}
	header#site-header #header-banner {
		text-align: right;
	}

	#header-loged-in{
		margin-top:4%;
		text-align:right;
	}
	
[class*="span"]{
	margin-left:0px;
}
.users-name{
	color:#da1c23;
}

/* Membership Comparison chart content hide and display tab navigation */
.nav {
  margin-bottom: 0px;
  margin-left: 0;
  list-style: none;
}
.nav-tabs {
  border-bottom: 1px solid #A8A8A8;
}
	.nav-tabs > li {
		margin-bottom: -1px;
	}
		.nav-tabs > li > a {
			background: #eff2f6; /* Old browsers */
			background: -moz-linear-gradient(top,  #eff2f6 0%, #dbe3ef 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff2f6), color-stop(100%,#dbe3ef)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #eff2f6 0%,#dbe3ef 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #eff2f6 0%,#dbe3ef 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #eff2f6 0%,#dbe3ef 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #eff2f6 0%,#dbe3ef 100%); /* W3C */
			border: 1px solid #A8A8A8;
			-webkit-border-radius: 4px 4px 0 0;
			-moz-border-radius: 4px 4px 0 0;
			border-radius: 4px 4px 0 0;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff2f6', endColorstr='#dbe3ef',GradientType=0 ); /* IE6-9 */
			line-height: 14px;
			margin-right: 2px;
			padding-top: 8px 12px 8px 12px;
		}
		.nav-tabs > li.active > a,
		.nav-tabs > li > a:hover {
			background: #FFFFFF; /* Old browsers */
			background: -moz-linear-gradient(top,  #FFFFFF 0%, #FFFFFF 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #FFFFFF 0%,#FFFFFF 100%); /* W3C */
			background-color: #FFFFFF;
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
		}
		.nav-tabs > li > a:hover {
			border-color: #A8A8A8 #A8A8A8 #A8A8A8 #A8A8A8;
		}
	.nav-tabs > .active > a,
	.nav-tabs > .active > a:hover {
		color: #555555;
		cursor: default;
		background-color: #ffffff;
		border: 1px solid #ddd;
		border-color: #A8A8A8 #A8A8A8 transparent;
	}

/* ---------------------------------------------- FORM ---------------------------- */

/*-----------------Order Status-------------*/
.order-status{
    font-size: 18px;
    padding-top: 11px;
    padding-left: 3px;
	float:left;
	font-weight:bold;
	color:#da1c23;
}

.status-btns{
	width:auto;
	padding-top: 0.5%;
	float:left;
	}
.timms-info{
	width:100%;
	padding-top:1%;
	padding-bottom:2%;
	float:left;
}
.admin-btns{
	float:left;
}
.order-status-label{
	float:left;
	padding-top:3%;
	padding-right:3%;
}
.order-status-input{
	margin-left:30%;
}

/*--------------------body--------------*/
#tabbasic, #tabproduct, #tabaccount, #tabsubscription, #tabterms, #tabquestions{
	border-bottom: 1px solid #a8a8a8;
	border-left: 1px solid #a8a8a8;
	border-right: 1px solid #a8a8a8;
	padding:2%;
	background-color:#ececec;
}
#no-tabform{
	border: 1px solid #a8a8a8;
	padding:2%;
	background-color:#ececec;
}
	#no-tabform .label-row input{
		width:62%;
		margin-left: 1%;
	}
	#no-tabform select{
		width:63%;
		margin-left: 1%;
	}
	#no-tabform .label-row textarea{
		width:61%;
		margin-left: 1%;
	}
/*-----------------basic information-------------*/
.label-row {
	width:98%;
	float:left;
	padding-left:2%;
}
	.label-row label{
		width:30%;
		display:inline;
		float:left;
		padding-left:2%
	}
	.label-row  input{
		width:29%;
		margin-left:1%;
	}
	.label-row  .long{
		width:94%;
        margin-left:1%;
        width:31%;
	}
    .label-row textarea{
	margin-left:1%;
	width:29%;
    }
    .checkbox-row{
	    margin-left:35%;
    }
    .checkbox-row label{
	    width:50%;
    }


/*-------------------product information--------------*/
.primary-business-row{
	float:left;
	width:100%;
	padding-top:1%;
	padding-bottom:3%;
}
.primary-business-radio{
	margin-left:3%;
	width:26%;
	float:left;
}
.checkbox-left {
	width:46%;
	float:left;
}
.checkbox-right {
	width:46%;
	float:left;
}
.account-checkbox{
	width:90%;
	margin-left:11%;
	float:left;
}
/*-------------------------------------------FOOTER-----------------------------------*/
#asi-brand-bar{
	text-align:center;
	margin-top:3%;
}
	#asi-brand-bar a{
		color:#da1c23;
	}
/*-------------------------------------------FORMS-----------------------------------*/
.forms-header {
    background-color: #bebec5;
    padding-top: 5px;
    padding-left: 40px;
    padding-right: 10px;
}
    .forms-header #Form_Greetings {
        width: 508px;
        height: 76px;
    }
    .forms-header #Form_Comments {
        width: 508px;
        height: 76px;
    }
.forms-footer {
    padding-left: 40px;
}
.forms-review {
    padding-left: 20px   
}
#forms-send #save {
    margin-left: -20px   
}

@media (max-width: 600px) {
    .label-row input {
        width: 27%;
    }

    .nav-tabs > li > a, .nav-pills > li > a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.FloatLeft{
	float:left;
    width:50%;
}

.FloatRight{
	float:left;
    width:50%;
}

.ClearBoth {
    clear:both;
}



ul#tabs {
    clear:both;
}

    .hidden{
	display:none;
}
    .form-horizontal .control-label {
    float: left;
    width: 160px;
    padding-top: 5px;
    text-align: right;
}
    .control-label input[type="checkbox"] {
        margin-top: -8px;
    }

    .control-label input[type="radio"] {
        margin-top: -2px;
    }

    .multiple-select-area .radio input[type="radio"],
    .multiple-select-area .checkbox input[type="checkbox"] {
        margin-left: 0px;
        margin-right: 10px;
    }

    .form-horizontal .control-group {
        margin-bottom: 10px;
    }
    .input-mid{
    width: 123px;
    margin-left: 9px;
}
.box {
	border: 1px solid #a8a8a8;
	padding:1%;
	background-color:#ececec;
    min-height: 220px;
}
.clearfix {
clear:both;

}
.bg_none {
background:none !important;
}
.select-company {
    padding-bottom: 30px; background: #fff;
}
/* Paging UI */
td.pager {
    background-color: #eee;
}

td.pager div {
    font-size: smaller;
    font-weight: bold;
    padding: 5px;
}

a.pagerButton, a.pagerButton:visited
{
    border: solid 1px #eee;
    padding: 4px;
    text-decoration: none;
    color: #D71D24;
    margin: 0px 2px 0px 2px;
}

a.pagerButton:hover
{
    border: solid 1px black;
    color: Black;
}

a.pagerButtonCurrentPage
{
    border: solid 1px #00a;
    padding: 4px;
    text-decoration: none;
    color: White !important;
    background-color: #D71D24;
    margin: 0px 2px 0px 2px;
}

.pagerButtonDisabled
{
    border: none;
    color: #999;
    padding: 4px;
}
a {
    color: #D71D24 !important;
}
.btn {
    background:#D71D24 !important;
    color :#FFFFFF !important;
    text-shadow: none;
}
.btn:hover {
    background:#58585a !important;
    color :#FFFFFF !important;
    
    }
a:hover, a:focus {
    color: #58585a !important;
    text-decoration: underline;
}
.buttonHolder{
  margin:80px auto;
  width:400px;
}
.button{
			background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
			background-image: linear-gradient(top, #f4f1ee, #fff);
			border-radius: 50%;
			box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .3), inset 0px 1px 1px 1px white, inset 0px 1px 1px 1px rgba(204,198,197,.5);
			float:left;
			height: 20px;
			margin: 2px 17px;
			position: relative;
			width: 20px;			
			-webkit-transition: all .1s linear;
			transition: all .1s linear;
		}

		.button:after{
			color:#FF0606;
			content: "";
			display: block;
			font-size: 15px;
			height: 30px;
			text-decoration: none;
			/*text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;*/
			position: absolute;
			width: 30px;
		}

.tick:after{
			content: "✔";
			left:4px;
			top:0px;
            color:#fff;
		}

		.cross:after{
			content: "✖";
			left: 4px;
			top:  0px;
		}
		.cross:hover:after{
			color:#eb2f2f;
			
		}
.tick {
       background-image: -webkit-linear-gradient(top, #439600, #439600);
			background-image: linear-gradient(top, #439600, #439600);
}
.ok {
    background:#439600;
}
.table-bordered-color {
    border: 1px solid #D71D24;
    border-collapse: none!important;
    /* border-left: 0; */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #D71D24 !important;
}

.table-bordered {
    border-right: 1px solid #D71D24 !important;
    border-top: 1px solid #D71D24 !important;
    border-bottom: 1px solid #D71D24 !important;
}
 .table td {
    border-top: 1px solid #D71D24;
}
input[type="text"] {
    padding:4px 3px !important;
}

