<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--Settings to be used as Barista Plugin-->
    <add key="EsbConnectionString" value="host=asi-rabbitscn1-04,asi-rabbitscn2-04;username=asiuser;password=asiuser;requestedHeartbeat=120"/>
    <add key="MessageTtl" value="120000"/>

    <add key="SmtpFrom" value="asistore@asicentral.com"/>
    <!-- Below additional settings can be used, based on need -->
    <!--<add key="SMTP_Host" value="mail.asinternet.net" />
    <add key="SMTP_Port" value="25" />
    <add key="SMTP_UserName" value="" />
    <add key="SMTP_Password" value="" />
    <add key="SMTP_EnableSsl" value = "true"/>
    
    <add key="Attachemnt_MaxSizeMB" value="10" />
    <add key="Attachemnt_SupportedFileTypes" value = ".txt,.doc,.docx,.xls,.xlsx"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
