@inherits System.Web.Mvc.WebViewPage<IList<asi.asicentral.model.Publication>>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                This Web page shows how to retrieve data from the database and using the full stack.<br />
                Should try to do the same using jquery template and knockout<br />
            </p>
        </div>
    </section>
}
<h3>List of Publications</h3>
<h4>Todos</h4>
<ul>
<li>Add a new one</li>
</ul>

<table class="table table-bordered table-condensed table-striped">
    <thead><tr><th>Name</th></tr></thead>
    <tbody>
    @foreach (asi.asicentral.model.Publication publication in Model)
    {
        <tr><td><a class="remove" href="@Url.Action("Delete", "Publication", new { id = publication.PublicationId })"><i class="icon-remove-circle"></i></a>&nbsp;&nbsp;@Html.ActionLink(publication.Name, "Edit", "Publication", new { id = publication.PublicationId }, null)</td></tr>
    }
    </tbody>
</table>
@section Scripts {
<script>
$(".remove").click(function (e) {
    if (!confirm("Are you sure you want to delete this item?"))
        e.preventDefault();
});
</script>
}
