<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="ASIInternetContext" connectionString="Data Source=.;Initial Catalog=ASIInternet;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
    <add name="ASIPublicationContext" connectionString="Data Source=.;Initial Catalog=ASIPUBLICATIONS;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
    <add name="InternetContext" connectionString="Data Source=.;Initial Catalog=internet;Integrated Security=True; MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
    <add name="ProductContext" connectionString="Data Source=dev-mysql1.asinetwork.local;user id=ASICStore_user@3;password=A5!6u0l_Dev$;database=ASICentralStore;Integrated Security=true;" providerName="MySql.Data.MySqlClient" />
    <!--add name="ProductContext" connectionString="Data Source=localhost;user id=root;password=asi!Admin5;database=experiment;Integrated Security=false;" providerName="MySql.Data.MySqlClient" /-->
  </connectionStrings>
</configuration>