@model asi.asicentral.web.model.store.OrderPageModel
<label for="startDate">Start Date</label>
<input data-type="date" name="DateStart" type="text" value="@Model.StartDate" />
<label for="endDate">End Date</label>
<input data-type="date" name="DateEnd" type="text" value="@Model.EndDate" />