@using asi.asicentral.model.sgr
@model IList<Company>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Companies</h2>
<table class="table table-bordered table-condensed table-striped">
    <tr><th>Name</th></tr>
    @foreach (Company company in Model)
    {
        <tr><td>@Html.ActionLink(company.Name, "CompanyEdit", new { id = company.Id })</td></tr>
    }
</table>
