@using asi.asicentral.web;
@using asi.asicentral.model.show
@using asi.asicentral.web.models.show
@using asi.asicentral.Resources
@model AddressModel
@{
   
    Layout = "~/Views/Show/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddAddress", "ShowCompany", FormMethod.Post, new { id = "AddAddress-form", @class = "form-horizontal" }))
{
    <p class="navigate-back"><a href="/ShowCompany/List?id= @Model.CompanyId"><i class="icon-backward"></i> Back to Address list</a></p>
    <div id="tabbasic">@Html.Partial("../Show/Shared/Address", Model)</div>
    

    <footer id="page-completion-navigation">
        <nav>
            <p class="next-step-button">
                <input type="submit" class="command btn btn-red" value="Save" id="btnSave" />
                 <a class="red" href="/ShowCompany/CompanyList">Cancel</a>
        </nav>
    </footer>
}
@section Scripts {

    @Scripts.Render("~/bundles/form")

    <script>
        $(document).ready(function () {
            if ($("#IsNonUSAddress").prop('checked')) {
                $("#country-div").attr("class", "control-group");
                $("#state-div").attr("class", "control-group hidden");
                $("#international-state-div").attr("class", "control-group");
            }
            else {
                $("#country-div").attr("class", "control-group hidden");
                $("#state-div").attr("class", "control-group");
                $("#international-state-div").attr("class", "control-group hidden");
            }
        });

        $("#IsNonUSAddress").change(function (evt) {
            if ($("#country-div").attr("class").trim() == "control-group")
                $("#country-div").attr("class", "control-group hidden");
            else
                $("#country-div").attr("class", "control-group");
            if ($("#country-div").attr("class") == "control-group hidden") {
                $("#Country").val("USA");
                $("#State").val("");
                $("#state-div").attr("class", "control-group");
                $("#international-state-div").attr("class", "control-group hidden");
                $("#InternationalState").val("N/A");
            }
            else {
                $("#Country").val("");
                $("#state-div").attr("class", "control-group hidden");
                $("#State").val("AL");
                $("#InternationalState").val("");
                $("#international-state-div").attr("class", "control-group");
            }
        });
    </script>

}