@using asi.asicentral.model.sgr
@model Category

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Category</h2>

<a class="btn btn-small" href="@Url.Action("List", "../sgr/Company", null)">
    <i class="icon-backward"></i>
    Back
</a>

