<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Remove" />
  <connectionStrings xdt:Transform="InsertBefore(/configuration/appSettings)">
    <add name="ASIInternetContext" connectionString="Data Source=ASI-SQL-10.asinetwork.local;Initial Catalog=ASIInternet;Integrated Security=False;User Id=asicentral_user;Password=new32008_centuser;MultipleActiveResultSets=True" providerName="System.Data.SQLClient"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="ASIPublicationContext" connectionString="Data Source=ASI-SQL-10.asinetwork.local;Initial Catalog=ASIPUBLICATIONS;Integrated Security=False;User Id=asicentral_user;Password=new32008_centuser;MultipleActiveResultSets=True" providerName="System.Data.SQLClient"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="InternetContext" connectionString="Data Source=ASI-SQL-10.asinetwork.local;Initial Catalog=internet;Integrated Security=False;User Id=asicentral_user;Password=new32008_centuser;MultipleActiveResultSets=True" providerName="System.Data.SQLClient"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="ProductContext" connectionString="Data Source=asi-mysql-01.asinetwork.local;user id=ASICStore_user@3;password=2@~9TdZ4ry+J;database=ASICentralStore;Integrated Security=true;" providerName="MySql.Data.MySqlClient"
         xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="TIMSSContext" connectionString="Data Source=asi-sqlpcdi1-02.asinetwork.local;Initial Catalog=TIMSS_LOAD_ASICENTRAL;Integrated Security=False;User Id=asicentral_user;Password=centuser_prd_12345;MultipleActiveResultSets=True" providerName="System.Data.SQLClient"
          xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)"/>
    <add name="CallContext" connectionString="Data Source=asi-sql-10.asinetwork.local;Initial Catalog=Click_To_Call;Integrated Security=FALSE;user=clkcalluser_2013T591@4;pwd=Ftc9832@5ghu;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" 
           xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="BaseURL" value="http://asicentral.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
     <add key="SmtpServer" value="mail.asinternet.net" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="SmtpFrom" value="asistore@asicentral.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="CreditCardServiceUsername" value="asi_central" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="CreditCardServicePassword" value="EAAAADoXKA61uvdkWtjHNvNw13jzFG5+Bquu63bmTfcZCyxZ" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="AdminURL" value="http://asicentraladmin.asinetwork.local" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="MediaPath" value="\\10.1.0.240\MediaProjects\ASICentral\Prod\Store" xdt:Transform="InsertAfter(/configuration/appSettings/add[@key='AdminURL'])" xdt:Locator="Match(key)"/>
    <add key="ROIUrl" value="http://asiservice.asicentral.com/ROIServices/" xdt:Transform="InsertAfter(/configuration/appSettings/add[@key='MediaPath'])" xdt:Locator="Match(key)"/>
    <add key="ConnectUrl" value="https://connect.asicentral.com/" xdt:Transform="InsertAfter(/configuration/appSettings/add[@key='ROIUrl'])" xdt:Locator="Match(key)"/>
    <add key="ConnectCredentials" value="asicentral;asicentral52" xdt:Transform="InsertAfter(/configuration/appSettings/add[@key='ConnectUrl'])" xdt:Locator="Match(key)"/>
    <add key="SendMyAdBaseAddress" value="https://asi.sendmyad.com" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="EmailMarketingAddress" value="http://store.asicentral.com/Account/Redirect?appcode=" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="SendMyAdApiKey" value="N39HTTTI" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="SendMyAdPublisherCode" value="ADVSI" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="AsiOAuthClientId" value="e27c724a50e9574e3e8e29ed1fa47f60964ad2a6726317e57859d07313824ee9"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="AsiOAuthClientSecret" value="33848ef8688d7b958d09d71706d9979e94e0d5104e76662e8fd3fac6a2f3cf47"  xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="JadeDaisyConfigFile" value="http://daisy.asinetwork.local/Prod/oauth-config.json" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="RedirectUrl" value="https://asiservice.asicentral.com/login/Account/Redirector" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
    <add key="CreateOrderInPersonifyErrorEmail" value="galexis@asicentral.com;yperrin@asicentral.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
    <add key="MediaPath" value="\\10.1.0.240\MediaProjects\ASICentral\Prod" xdt:Transform="SetAttributes(value)" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <authentication mode="Windows" xdt:Transform="SetAttributes(mode)" />
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
    <httpRuntime targetFramework="4.5" encoderType="System.Web.Security.AntiXss.AntiXssEncoder,System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" maxRequestLength="40960" xdt:Transform="SetAttributes(maxRequestLength)"  />
  </system.web>
  <system.webServer>
    <security  xdt:Transform="Insert(/configuration/system.webServer)">
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender" xdt:Transform="Remove">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Print the date in ISO 8601 format -->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender" xdt:Transform="Replace">
      <file value="..\Data\AdminToolLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root xdt:Transform="Replace">
      <level value="ERROR" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="https://asicentralcreditcard.asicentral.com/service/CreditCardService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICreditCardService" contract="web.CreditCardService.ICreditCardService" name="CreditCardService" />
    </client>
  </system.serviceModel>
</configuration>