<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    
  <sectionGroup name="dotNetOpenAuth" type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection, DotNetOpenAuth.Core">
			<section name="messaging" type="DotNetOpenAuth.Configuration.MessagingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
			<section name="reporting" type="DotNetOpenAuth.Configuration.ReportingElement, DotNetOpenAuth.Core" requirePermission="false" allowLocation="true" />
		<section name="oauth" type="DotNetOpenAuth.Configuration.OAuthElement, DotNetOpenAuth.OAuth" requirePermission="false" allowLocation="true" /><section name="openid" type="DotNetOpenAuth.Configuration.OpenIdElement, DotNetOpenAuth.OpenId" requirePermission="false" allowLocation="true" /></sectionGroup></configSections>
  <system.data>
    <DbProviderFactories>
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
    </DbProviderFactories>
  </system.data>
  <connectionStrings>
    <add name="InternetContext" connectionString="Data Source=.;Initial Catalog=internet;Integrated Security=True; MultipleActiveResultSets=True;Application Name=ASIAdmin" providerName="System.Data.SQLClient" />
    <!--add name="ASIInternetContext" connectionString="Data Source=.;Initial Catalog=ASIInternet;Integrated Security=True;MultipleActiveResultSets=True;Application Name=ASIAdmin" providerName="System.Data.SQLClient" />
    <add name="ProductContext" connectionString="Data Source=localhost;user id=root;password=asi!Admin5;database=experiment;Integrated Security=False" providerName="MySql.Data.MySqlClient" />
    <add name="CallContext" connectionString="Data Source=.;Initial Catalog=Click_To_Call;Integrated Security=True;MultipleActiveResultSets=True;Application Name=ASIAdmin" providerName="System.Data.SqlClient" />-->
    <!--add name="ProductContext" connectionString="Data Source=dev-mysql1.asinetwork.local;user id=ASICStore_user@3;password=A5!6u0l_Dev$;database=ASICentralStore;Integrated Security=true" providerName="MySql.Data.MySqlClient" /-->
    <add name="VelocityContext" connectionString="Data Source=.;Initial Catalog=EXCIT;Integrated Security=True;MultipleActiveResultSets=True;Application Name=ASIAdmin" providerName="System.Data.SQLClient" />
    <add name="ASIInternetContext" connectionString="Data Source=ASI-SQLDS-10.asinetwork.local;Initial Catalog=ASIInternet;Integrated Security=False;User Id=asicentral_user;Password=new32008_centuser;MultipleActiveResultSets=True;Application Name=ASIAdmin" providerName="System.Data.SQLClient" />
    <add name="ProductContext" connectionString="Data Source=ASI-SQLDS-10.asinetwork.local;Initial Catalog=ASICentralStore;Integrated Security=False;User Id=asicentralstore;Password=asi;MultipleActiveResultSets=True;Application Name=ASIStore" providerName="System.Data.SQLClient" />
    <add name="CallContext" connectionString="Data Source=.;Initial Catalog=Click_To_Call;Integrated Security=True;MultipleActiveResultSets=True;Application Name=ASIAdmin" providerName="System.Data.SqlClient" />
    <add name="Umbraco_ShowContext" connectionString="server=ASI-SQLDS-10.asinetwork.local;database=Umbraco_Show;user id=show_user;password=show_@dev;Application Name=ASIShow" providerName="System.Data.SqlClient" />
	  <add name="umbracoDbDSN" connectionString="server=ASI-SQLDS-10.asinetwork.local;database=Umbraco;user id=asicentral_user;password=new32008_centuser;Application Name=ASICentral" providerName="System.Data.SqlClient" />
	  <!--add name="ProductContext" connectionString="Data Source=asi-mysqlus-01.asinetwork.local;user id=ASICStore_user@3;password=A5!6u0l_Uat$;database=ASICentralStore;Integrated Security=true;" providerName="MySql.Data.MySqlClient" /-->
    <!--add name="ASIInternetContext" connectionString="Data Source=ASI-SQLPCDG1-10.asinetwork.local;Initial Catalog=ASIInternet;Integrated Security=False;User Id=asicentral_user;Password=new32008_centuser;MultipleActiveResultSets=True;Application Name=ASIAdmin" providerName="System.Data.SQLClient" />
    <add name="CallContext" connectionString="Data Source=ASI-SQLPCDG1-10.asinetwork.local;Initial Catalog=Click_To_Call;Integrated Security=FALSE;user=clkcalluser_2013T591@4;pwd=Ftc9832@5ghu;MultipleActiveResultSets=True;Application Name=ASIAdmin" providerName="System.Data.SqlClient" />
    <add name="ProductContext" connectionString="Data Source=asi-mysql-01.asinetwork.local;user id=ASICStore_user@3;password=2@~9TdZ4ry+J;database=ASICentralStore;Integrated Security=true" providerName="MySql.Data.MySqlClient" />-->
  </connectionStrings>	
  <appSettings>
	  <!--<add key="autoFormsAuthentication" value="false" />
	  <add key="enableSimpleMembership" value="false"/>-->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MessageTtl" value="120000" />
    <add key="SmtpFrom" value="asistore@asicentral.com" />
    <add key="BaseURL" value="http://staging.asicentral.com" />
    <add key="svcUri" value="https://asi-prsw-02.uat-asicentral.com/PersonifyDataServices/PersonifyDataASI.svc/" />
    <add key="AuthorizedUsers" value="ASINETWORK\yperrin;ASINETWORK\mzhang;ASINETWORK\vdriscoll;ASINETWORK\msrivastava" />
    <add key="UserName" value="webuser" />
    <add key="Password" value="webuser2013" />
    <add key="CanadaUserName" value="webuserc" />
    <add key="CanadaPassword" value="webuser2013" />
    <add key="EnableBasicAuthentication" value="true" />
    <add key="CreateOrderInPersonifyErrorEmail" value="mzhang@asicentral.com;manish.srivastava@a4technology.com;arun.kumar@a4technology.com" />
    <add key="OrderApprovalEmail" value="mzhang@asicentral.com;ASIQA@asicentral.com;manish.srivastava@a4technology.com;arun.kumar@a4technology.com" />    
    <add key="JadeDaisyConfigFile" value="http://daisy.asinetwork.local/debug/stg-test/oauth-config.json" />
    <add key="UsePersonifyServices" value="True" />
    <add key="StoreURL" value="https://stage-store.asicentral.com" />
    <add key="MediaPath" value="m:" />
    <add key="ExcitUrlTest" value="https://stage-dc.asicentral.com/" />
    <add key="ExcitUrlProd" value="https://dc.asicentral.com/" />
    <add key="IsProduction" value="false" />
    <add key="EsbConnectionString" value="host=asi-rabbitscn1-04,asi-rabbitscn2-04;username=asiuser;password=asiuser;requestedHeartbeat=120" />
    <add key="AsiCompEmails" value="arun.kumar@a4technology.com;mzhang@asicentral.com;manish.srivastava@a4technology.com" />
   <!--Note: In media folder path m: is the substitue directory for the original directory of the media folder
    ex:- To create a substitute folder use below command from command prompt
    C:\Users\kphani>subst m: "D:\Phani\Work\asicentral.com\asicentral.com.2.0\Projects\ASI Store\src\Web Application\media"
    Here original directory is "D:\Phani\Work\asicentral.com\asicentral.com.2.0\Projects\ASI Store\src\Web Application\media"
    Substitute directory is m:
    -->
  </appSettings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="4294967295" />
      </requestFiltering>
    </security>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotLiquid" publicKeyToken="82e46016ecf9f07c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsgPack" publicKeyToken="a2625990d5dc0167" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.0.0" newVersion="0.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.0" newVersion="1.8.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="UAParser" publicKeyToken="f7377bf021646069" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
    
    
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). --><legacyHMACWarning enabled="0" /><!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
		     to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		 --></runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
      </wsHttpBinding>
    </bindings>
    <client>
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Print the date in ISO 8601 format -->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../../../../../AdminToolLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="Console" />
    </root>
  </log4net>
<system.net>
		<defaultProxy enabled="true" />
		<settings>
			<!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
			<!--<servicePointManager checkCertificateRevocationList="true"/>-->
		</settings>
	</system.net>
  <dotNetOpenAuth>
		<messaging>
			<untrustedWebRequest>
				<whitelistHosts>
					<!-- Uncomment to enable communication with localhost (should generally not activate in production!) -->
					<!--<add name="localhost" />-->
				</whitelistHosts>
			</untrustedWebRequest>
		</messaging>
		<!-- Allow DotNetOpenAuth to publish usage statistics to library authors to improve the library. -->
		<reporting enabled="true" />
	<!-- This is an optional configuration section where aspects of dotnetopenauth can be customized. --><!-- For a complete set of configuration options see http://www.dotnetopenauth.net/developers/code-snippets/configuration-options/ --><openid>
		<relyingParty>
				<security requireSsl="false">
					<!-- Uncomment the trustedProviders tag if your relying party should only accept positive assertions from a closed set of OpenID Providers. -->
					<!--<trustedProviders rejectAssertionsFromUntrustedProviders="true">
						<add endpoint="https://www.google.com/accounts/o8/ud" />
					</trustedProviders>-->
				</security>
				<behaviors>
					<!-- The following OPTIONAL behavior allows RPs to use SREG only, but be compatible
					     with OPs that use Attribute Exchange (in various formats). -->
					<add type="DotNetOpenAuth.OpenId.RelyingParty.Behaviors.AXFetchAsSregTransform, DotNetOpenAuth.OpenId.RelyingParty" />
				</behaviors>
			</relyingParty></openid></dotNetOpenAuth>
  <uri>
		<!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
		     which is necessary for OpenID urls with unicode characters in the domain/host name.
		     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
		<idn enabled="All" />
		<iriParsing enabled="true" />
	</uri>
</configuration>