@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ASI Store";
}
@RenderSection("Content", required: false)
@RenderBody()
@section navigation { 
    <nav id="admin-subnavigation">
    <ul class="clearfix">
	    <li><a href="/store/Orders/List">Orders</a></li>
        <li><a href="/store/Products/List">Products</a></li>
	    <li><a href="/store/Orders/Statistics?statistics=Campaign">Statistics</a></li>
        <li><a href="/store/ShowForms/List">Show Forms</a></li>
        <li><a href="/store/Coupon/List">Coupons</a></li>
        <li><a href="/store/CompanyValidations/List">Company Validations</a></li>
        <li><a href="/store/Context/List">Store Contexts</a></li>
        <li><a href="/store/Context/References">References</a></li>
    </ul>
    </nav>    
}
@section scripts { @RenderSection("scripts", required: false)}

