<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ASI.Contracts" version="1.2.0-beta951" targetFramework="net45" />
  <package id="ASI.EntityModel" version="1.2.0-beta08" targetFramework="net45" />
  <package id="ASI.Services.Messaging" version="2.0.0-beta946" targetFramework="net45" />
  <package id="ASI.Sugar" version="2.0.0-beta931" targetFramework="net45" />
  <package id="Castle.Core" version="3.1.0" targetFramework="net45" />
  <package id="CommunityEFProviderWrappers.EFProviderWrapperToolkit" version="1.0.0" targetFramework="net45" />
  <package id="CommunityEFProviderWrappers.EFTracingProvider" version="1.0.0" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="EasyNetQ" version="0.53.6.418" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.0.0" targetFramework="net45" />
  <package id="MsgPack.Cli" version="0.6.7" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="RabbitMQ.Client" version="3.5.7" targetFramework="net45" />
  <package id="RazorEngine" version="3.8.2" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>