@using asi.asicentral.model.store;
@model FormInstance
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Send a Form";
}

<h2>SendForm</h2>
Add form specific fields here

@Html.Partial("~/asi.asicentral.common/asi.asicentral.views.store.GenericForm.cshtml")
