@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Content Administration";
}

<h1>Welcome to the ASI Administration Area.</h1>
<p>Please select a content area to update from the options below.  If you do not see the area you wish to update, please contact <a href="mailto:asicentral-team@asinetwork.local">Content Administration Support.</a></p>

<!-- BEGIN listing of admin areas -->
<div id="admin-areas" class="clearfix">
    <section>
        <h1><a href="/store/Orders">ASI Store</a></h1>
        <a href="/store/Orders"><img src="images/admin-asi-store.gif" alt="ASI Store"></a>
        <p>Adding/Modifying the ASI Store Products and Content</p>
    </section>
    <section>
        <h1><a href="/Forms/Index">Store Forms</a></h1>
        <a href="/Forms/Index"><img src="images/admin-asi-store.gif" alt="Store Forms"></a>
        <p>Review and create new forms to be send to the customer for purchase</p>
    </section>
    <section>
        <h1><a href="/TermsConditions/Index">Terms and Conditions</a></h1>
        <a href="/TermsConditions/Index"><img src="images/admin-asi-store.gif" alt="Terms and Conditions"></a>
        <p>Review and create new Terms and Conditions</p>
    </section>
    <section>
        <h1><a href="/Media/Index">Media Drive Manager</a></h1>
        <a href="/Media/Index"><img src="images/admin-media-links.gif" alt="Media Drive Manager"></a>
        <p>Used to view, download, upload and delete files on the media server</p>
    </section>
    <section>
        <h1><a href="/CallQueue">ASI Central</a></h1>
        <a href="/CallQueue/"><img src="images/admin-asicentral.gif" alt="ASI Central"></a>
        <p>Used manage the Call Me Queues on asicentral.com</p>
    </section>
    <section>
        <h1><a href="/Show/ShowList">ASI Show</a></h1>
        <a href="/Show/ShowList"><img src="images/admin-asi-show.gif" alt="ASI Show"></a>
        <p>Add/Modify - ASI Show, Attendee details</p>
    </section>
    <section>
        <h1><a href="/asicentralApi/SupplierUpdateRequestList">EXCIT</a></h1>
        <a href="/asicentralApi/SupplierUpdateRequestList"><img src="images/admin-asicentral.gif" alt="EXCIT"></a>
        <p>EXCIT</p>
    </section>
    <section>
        <h1><a href="/RateSupplier/RateSupplierImport">Rate Supplier</a></h1>
        <a href="/RateSupplier/RateSupplierImport"><img src="images/admin-asicentral.gif" alt="Rate Supplier"></a>
        <p>Add/Edit/View asicentral form data</p>
    </section>
    <section>
        <h1><a href="/Catalog/Index">Catalog Sales</a></h1>
        <a href="/Catalog/Index"><img src="images/admin-asicentral.gif" alt="Catalog Sale"></a>
        <p>Add/Edit/View asicentral Catalog data</p>
    </section>
    <section>
        <h1><a href="/Forms/Asicentral">Asicentral Forms</a></h1>
        <a href="/Forms/Asicentral"><img src="images/admin-asicentral.gif" alt="Asicentral Forms"></a>
        <p>Review and Manage Asicentral Forms submitted</p>
    </section>
</div><!-- END #admin-areas -->
