<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="ASIInternetContextLocal" connectionString="Data Source=.;Initial Catalog=ASIInternet;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
    <add name="ASIInternetContextDevelopment" connectionString="Data Source=ASI-SQL-42;Initial Catalog=ASIInternet;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
    <add name="ASIInternetContextStaging" connectionString="Data Source=ASI-SQL-38.asinetwork.local;Initial Catalog=ASIInternet;Integrated Security=False;User Id=asicentral_user;Password=centuser_stg_97832;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
    <add name="ASIInternetContextLive" connectionString="Data Source=ASI-SQL-10.asinetwork.local;Initial Catalog=ASIInternet;Integrated Security=False;User Id=asicentral_user;Password=new32008_centuser;MultipleActiveResultSets=True" providerName="System.Data.SQLClient" />
    <add name="ProductContextLocal" connectionString="Data Source=localhost;user id=root;password=asi!Admin5;database=experiment;Integrated Security=False;" providerName="MySql.Data.MySqlClient" />
    <add name="ProductContextDevelopment" connectionString="Data Source=dev-mysql1.asinetwork.local;user id=ASICStore_user@3;password=A5!6u0l_Dev$;database=ASICentralStore;Integrated Security=true;" providerName="MySql.Data.MySqlClient" />
    <add name="ProductContextStaging" connectionString="Data Source=stg-mysql1.asinetwork.local;user id=ASICStore_user@3;password=A5!6u0l_Stg$;database=ASICentralStore;Integrated Security=true;" providerName="MySql.Data.MySqlClient" />
    <add name="ProductContextLive" connectionString="Data Source=asi-mysql-01.asinetwork.local;user id=ASICStore_user@3;password=2@~9TdZ4ry+J;database=ASICentralStore;Integrated Security=true;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Print the date in ISO 8601 format -->
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="../../../../../AdminToolLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level -->
    <root>
      <level value="ERROR" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="Console" />
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.1.0" newVersion="5.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>