
@model asi.asicentral.web.model.store.OrderPageModel

@if (Model.OrderTab == asi.asicentral.web.model.store.OrderPageModel.ORDER_INCOMPLETE)
{
    <input data-type="boolean" name="HasAddress" type="hidden" value="@Model.HasAddress" />
    <input name="chkHasAddress" type="checkbox"  checked="@Model.chkHasAddress" />
     <label for="HasAddress">Has Contact information</label> 
       
                            
}