@using asi.asicentral.model.sgr
@model IList<Company>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Companies</h2>

<a class="btn btn-small" href="@Url.Action("Add", "../sgr/Company", null)">
    <i class="icon-plus-sign"></i>
    Add a Company
</a>

<table class="table table-bordered table-condensed table-striped">
    <tr><th>Name</th></tr>
    @foreach (Company company in Model)
    {
        <tr>
            <td>
                <a class="btn btn-small" href="@Url.Action("Edit", "Company", new { id = company.Id })">
                    <i class="icon-pencil"></i>
                    Edit Company
                </a>

                <a class="btn btn-small" href="@Url.Action("ListCategory", "Product", new { id = company.Id })">
                    <i class="icon-eye-open"></i>
                    View Products
                </a>
                    @company.Name
            </td>
        </tr>
    }
</table>
