@using asi.asicentral.model.sgr
@model IList<Company>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Companies</h2>
<table class="table table-bordered table-condensed table-striped">
    <tr><th>&nbsp;</th><th>Name</th></tr>
    @foreach (Company company in Model)
    {
        <tr>
            <td><a href="#" rel="tooltip" data-placement="right" title="Import Spreadsheet"><i class="icon-upload"></i></a></td>
            <td>@Html.ActionLink(company.Name, "Edit", "../sgr/Company", new { id = company.Id }, null)</td>
        </tr>
    }
</table>
@section Scripts {
    <script src="/Scripts/asi.js"></script>
}
