@using asi.asicentral.model.sgr
@model IList<Company>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Companies</h2>

<a class="btn btn-small" href="@Url.Action("Add", "../sgr/Company", null)">
    <i class="icon-star"></i>
    Add a Company
</a>

<table class="table table-bordered table-condensed table-striped">
    <tr><th>Name</th></tr>
    @foreach (Company company in Model)
    {
        <tr><td>@Html.ActionLink(company.Name, "Edit", "../sgr/Company", new { id = company.Id }, null)</td></tr>
    }
</table>
