IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_CENT_PUB_SCHED_UNI_CENT_PUBLICATION]') AND parent_object_id = OBJECT_ID(N'[CENT_PUB_SCHED_UNI]'))
ALTER TABLE [CENT_PUB_SCHED_UNI] DROP CONSTRAINT [FK_CENT_PUB_SCHED_UNI_CENT_PUBLICATION]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_CENT_PUB_SCHED_UNI_CENT_PUB_SCHEDULE]') AND parent_object_id = OBJECT_ID(N'[CENT_PUB_SCHED_UNI]'))
ALTER TABLE [CENT_PUB_SCHED_UNI] DROP CONSTRAINT [FK_CENT_PUB_SCHED_UNI_CENT_PUB_SCHEDULE]
GO
/****** Object:  Table [CENT_PUBLICATION]    Script Date: 12/31/2012 2:44:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CENT_PUBLICATION]') AND type in (N'U'))
DROP TABLE [CENT_PUBLICATION]
GO
/****** Object:  Table [CENT_PUB_SCHEDULE]    Script Date: 12/31/2012 2:44:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CENT_PUB_SCHEDULE]') AND type in (N'U'))
DROP TABLE [CENT_PUB_SCHEDULE]
GO
/****** Object:  Table [CENT_PUB_SCHED_UNI]    Script Date: 12/31/2012 2:44:06 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CENT_PUB_SCHED_UNI]') AND type in (N'U'))
DROP TABLE [CENT_PUB_SCHED_UNI]
GO

/****** Object:  Table [CENT_PUB_SCHED_UNI]    Script Date: 12/31/2012 2:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CENT_PUB_SCHED_UNI]') AND type in (N'U'))
BEGIN
CREATE TABLE [CENT_PUB_SCHED_UNI](
	[PubId] [int] NOT NULL,
	[PubScheduleId] [int] NOT NULL,
 CONSTRAINT [PK_CENT_PUB_SCHED_UNI] PRIMARY KEY CLUSTERED 
(
	[PubId] ASC,
	[PubScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [CENT_PUB_SCHEDULE]    Script Date: 12/31/2012 2:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CENT_PUB_SCHEDULE]') AND type in (N'U'))
BEGIN
CREATE TABLE [CENT_PUB_SCHEDULE](
	[ScheduleId] [int] NOT NULL,
	[ScheduleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CENT_PUB_SCHEDULE] PRIMARY KEY CLUSTERED 
(
	[ScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [CENT_PUBLICATION]    Script Date: 12/31/2012 2:44:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CENT_PUBLICATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [CENT_PUBLICATION](
	[PubId] [int] NOT NULL,
	[PubName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CENT_PUBLICATION] PRIMARY KEY CLUSTERED 
(
	[PubId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
INSERT [CENT_PUB_SCHED_UNI] ([PubId], [PubScheduleId]) VALUES (1, 1)
INSERT [CENT_PUB_SCHED_UNI] ([PubId], [PubScheduleId]) VALUES (1, 2)
INSERT [CENT_PUB_SCHED_UNI] ([PubId], [PubScheduleId]) VALUES (1, 3)
INSERT [CENT_PUB_SCHEDULE] ([ScheduleId], [ScheduleName]) VALUES (1, N'January')
INSERT [CENT_PUB_SCHEDULE] ([ScheduleId], [ScheduleName]) VALUES (2, N'February')
INSERT [CENT_PUB_SCHEDULE] ([ScheduleId], [ScheduleName]) VALUES (3, N'March')
INSERT [CENT_PUBLICATION] ([PubId], [PubName]) VALUES (1, N'The Scientist')
INSERT [CENT_PUBLICATION] ([PubId], [PubName]) VALUES (2, N'The Nerd')
INSERT [CENT_PUBLICATION] ([PubId], [PubName]) VALUES (3, N'The Geek')
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_CENT_PUB_SCHED_UNI_CENT_PUB_SCHEDULE]') AND parent_object_id = OBJECT_ID(N'[CENT_PUB_SCHED_UNI]'))
ALTER TABLE [CENT_PUB_SCHED_UNI]  WITH CHECK ADD  CONSTRAINT [FK_CENT_PUB_SCHED_UNI_CENT_PUB_SCHEDULE] FOREIGN KEY([PubScheduleId])
REFERENCES [CENT_PUB_SCHEDULE] ([ScheduleId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_CENT_PUB_SCHED_UNI_CENT_PUB_SCHEDULE]') AND parent_object_id = OBJECT_ID(N'[CENT_PUB_SCHED_UNI]'))
ALTER TABLE [CENT_PUB_SCHED_UNI] CHECK CONSTRAINT [FK_CENT_PUB_SCHED_UNI_CENT_PUB_SCHEDULE]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_CENT_PUB_SCHED_UNI_CENT_PUBLICATION]') AND parent_object_id = OBJECT_ID(N'[CENT_PUB_SCHED_UNI]'))
ALTER TABLE [CENT_PUB_SCHED_UNI]  WITH CHECK ADD  CONSTRAINT [FK_CENT_PUB_SCHED_UNI_CENT_PUBLICATION] FOREIGN KEY([PubId])
REFERENCES [CENT_PUBLICATION] ([PubId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[FK_CENT_PUB_SCHED_UNI_CENT_PUBLICATION]') AND parent_object_id = OBJECT_ID(N'[CENT_PUB_SCHED_UNI]'))
ALTER TABLE [CENT_PUB_SCHED_UNI] CHECK CONSTRAINT [FK_CENT_PUB_SCHED_UNI_CENT_PUBLICATION]
GO
