@{
    var contactId = (int)ViewData["contactId"];
    var note = ViewData["note"].ToString();
}
<form action="/Catalog/SaveContactNote" method="post">
    <input type="hidden" value="@contactId" name="contactId" />
    <span>
        <input type="text" value="@note" name="note" style="width:auto" />
        <button type="submit" class="btn pull-right">Save</button>
        <a href="#" onclick="closeContactNotesForm('@note','@contactId')">Close</a>
    </span>
</form>

