<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Settings to be used as Barista Plugin-->
    <add key="EsbConnectionString" value="host=asi-rabbitscn1-04,asi-rabbitscn2-04;username=asiuser;password=asiuser;requestedHeartbeat=120"/>
    <add key="MessageTtl" value="120000"/>

    <add key="SmtpFrom" value="asistore@asicentral.com"/>
    <!-- Below additional settings can be used, based on need -->
    <!--<add key="SMTP_Host" value="mail.asinternet.net" />
    <add key="SMTP_Port" value="25" />
    <add key="SMTP_UserName" value="" />
    <add key="SMTP_Password" value="" />
    <add key="SMTP_EnableSsl" value = "true"/>
    
    <add key="Attachemnt_MaxSizeMB" value="10" />
    <add key="Attachemnt_SupportedFileTypes" value = ".txt,.doc,.docx,.xls,.xlsx"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MsgPack" publicKeyToken="a2625990d5dc0167" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.8.0.0" newVersion="0.8.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
