@{
    ViewBag.Title = "ASI Central API";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css { @RenderSection("css", required: false)}
@RenderBody()
@section navigation { 
    <nav id="admin-subnavigation">
    <ul class="clearfix">
	    <li><a href="/asicentralApi/SupplierUpdateRequestList">Supplier Update Request</a></li>
        <li><a href="/Velocity/Index">Supplier Color Mapping</a></li>
    </ul>
    </nav>    
}
@section scripts { @RenderSection("scripts", required: false)}

