@using asi.asicentral.web.models.show;
@using asi.asicentral.util.show;
@model PagerModel


@{
    var url = Request.RawUrl;
    var razorWriter = ViewContext.Writer;
    if (ViewData["Inactive"] != null ? (bool)ViewData["Inactive"] : false)
    {
        razorWriter.Write(string.Format("<span class=\"{0}\">{1}</span>", "pagerButtonDisabled", ViewData["Text"]));
    }
    else
    {
        var routeData = new RouteValueDictionary { };
        if (url.IndexOf("/Show/ShowList", StringComparison.InvariantCultureIgnoreCase) != -1)
        {
            routeData = new RouteValueDictionary { { "page", ViewData["PageIndex"] != null ? ViewData["PageIndex"].ToString() : null }, { "pageSize", Model.PageSize }, { "ShowTypeId", Model.TabShowTypeId }, { "year", Model.TabYear }};
        }
        else if (url.IndexOf("/ShowCompany/CompanyList", StringComparison.InvariantCultureIgnoreCase) != -1)
        {
            routeData = new RouteValueDictionary { { "page", ViewData["PageIndex"] != null ? ViewData["PageIndex"].ToString() : null }, { "pageSize", Model.PageSize }, { "Name", Model.TabCompanyName }, { "MemberType", Model.TabMemberType } };
        }
        else if (url.IndexOf("/ShowCompany/GetAttendeeCompany", StringComparison.InvariantCultureIgnoreCase) != -1)
        {
            routeData = new RouteValueDictionary { { "page", ViewData["PageIndex"] != null ? ViewData["PageIndex"].ToString() : null }, { "pageSize", Model.PageSize }, { "showId", Model.ShowId }  };
        }
        else if (url.IndexOf("/ShowCompany/AddCompaniesToShow", StringComparison.InvariantCultureIgnoreCase) != -1)
        {
            routeData = new RouteValueDictionary { { "page", ViewData["PageIndex"] != null ? ViewData["PageIndex"].ToString() : null }, { "pageSize", Model.PageSize }, { "showId", Model.ShowId }, { "companyName", Model.TabCompanyName }, { "MemberType", Model.TabMemberType } };            
        }
        var htmlAttributes = new Dictionary<string, object>();
        if (ViewData["Selected"] != null ? (bool)ViewData["Selected"] : false)
        {
            htmlAttributes.Add("class", "pagerButtonCurrentPage");
        }
        else
        {
            htmlAttributes.Add("class", "pagerButton");
        }

        var linkMarkup = Html.ActionLink(
                ViewData["Text"] != null ? ViewData["Text"].ToString() : null,  // Link Text
                Html.ViewContext.RouteData.Values["action"].ToString(),         // Action
                Html.ViewContext.RouteData.Values["controller"].ToString(),     // Controller
                routeData,                                                      // Route data
                htmlAttributes                                                  // HTML attributes to apply to hyperlink
            ).ToHtmlString();

        razorWriter.Write(linkMarkup);
   }
}
