@model asi.asicentral.model.store.StoreOrder
@{
    var company = Model.Company;
    var baseUrl = Model.RequestUrl != null ? string.Format("{0}://{1}", Model.RequestUrl.Scheme, Model.RequestUrl.Authority) : "";
    var memberStatus = string.IsNullOrEmpty(company.MemberStatus) ? "LEAD" : company.MemberStatus;
    var orderDetail = Model.OrderDetails.ElementAt(0);
    var constituentId = company.HasExternalReference() ? company.ExternalReference.Split(';')[0] : string.Empty;
    var compAddress = company.Addresses.Count > 0 ? company.Addresses[0].Address : null;
    var address = compAddress != null ? string.Format("{0} {1} {2}, {3} {4}", compAddress.Street1, compAddress.Street2 ?? string.Empty, compAddress.City, compAddress.State, compAddress.Zip)
                                      : string.Empty;
}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, Tahoma, sans-serif;
            font-size: 14px;
            width: 700px;
            margin: 0 auto;
            padding: 20px 10px;
        }

        h2 {
            font-size: 16px;
            color: #58585a;
            margin: 5px 0 0 0;
        }

        td {
            vertical-align: top;
        }

        .red {
            color: #da1c23;
        }

        tfoot {
            margin: 40px 0 40px 0;
            float: left;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            <tr><td>&nbsp;</td></tr>
            <tr><td><h2>Hello, </h2></td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>A new membership order was approved.</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>Order Number:&nbsp;<a href="@baseUrl/Store/Application/Edit/@orderDetail.Id">@Model.Id</a></td></tr>
            <tr><td>Membership Type:&nbsp;@orderDetail.Product.Type </td></tr>
            <tr><td>Package Type, Total:&nbsp;@orderDetail.Product.Name,&nbsp;@Model.AnnualizedTotal</td></tr>
            <tr><td>Constituent ID:&nbsp;@constituentId </td></tr>
            <tr><td>Company Name:&nbsp;@company.Name </td></tr>
            <tr><td>Company Address:&nbsp;@address</td></tr>
            <tr><td>Company Phone:&nbsp;@company.Phone </td></tr>
            <tr><td>Primary Contact Name, Phone:&nbsp;@company.GetCompanyContact().FirstName @company.GetCompanyContact().LastName, &nbsp;@company.GetCompanyContact().Phone</td></tr>
            <tr><td>Membership Status:&nbsp;@memberStatus</td></tr>
            <tr><td>Sales Rep/Manager:&nbsp;@Model.ApprovedBy</td></tr>
            <tr><td>&nbsp;</td></tr>
            <tr><td>Please contact the appropriate person or department. </td></tr>
        </tbody>
    </table>
</body>
</html>