 <div id="asi-modal" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button><h3 data-bind="text: title" />
  </div>
  <div class="modal-body"><p data-bind="text: message"/></div>
  <div class="modal-footer">
   <a href="#" data-dismiss="modal" class="btn btn-primary" data-bind="text: okText"></a>
   <a href="#" data-dismiss="modal" class="btn btn-cancel" data-bind="text: cancelText"></a>
  </div>
 </div>
