/* ------------------------------------ GENERAL HTML  -------------- */
body {
	padding-bottom: 40px;
}
h1 {
	font-size: 24px;
	line-height: 28px;
}
h2 {
	background-color: #E6E6E6;
	font-size: 16px;
	line-height: 18px;
    margin: 0px 0px 14px 0px;
    padding: 10px 0px 10px 10px;
}
dfn {
	font-style: normal;
}

blockquote {
	border-left: none;
	color: #454545;
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 16px;
	font-style: italic;
		margin: 0; 
		padding: 25px 0px 0px 0px;
}
	blockquote p {
		font-size: 16px;
		font-weight: normal;
		line-height: 160%;
		margin: 0; 
		padding: 0;
	}
cite {
	color: #454545;
	display: block;
	font-size: 12px;
	padding-top: 10px;
}


	
/* ------------------------------------ FORMS  ------------- */
label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
}
.form-horizontal .control-group {
    margin-bottom: 10px;
}
.optional-input {
    color: #000000;
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
	padding-left: 10px;
}
.radio, .checkbox {
    min-height: 20px;
    padding-left: 50px;
}

/* ------------------------------------ TABLES ------------ */	
#product-package-comparison table tr td {
	border: 4px solid #FFFFFF;
	font-size: 14px;
	padding: 4px 10px 4px 10px;
	text-align: center;
	vertical-align: center;
}
	#product-package-comparison table tr td.description {
		text-align: left;
	}
	#product-package-comparison table .product-title-row  {
		font-weight: bold;
	}
	#product-package-comparison table .product-title-row .instructions { 
		font-weight: normal;
		font-style: italic;
		padding-bottom: 10px;
		text-align: left;
	}
	#product-package-comparison table .button-row .description {
		background-color: #4B4B4B;
		color: #FFFFFF;
		font-weight: bold;
	}

	table tr.row1, table tr.row3, table tr.row5, table tr.row7, table tr.row9, table tr.row11, table tr.row13, table tr.row15 {
		background-color: #f0f0f0;
	}
	table tr.row2, table tr.row4, table tr.row6, table tr.row8, table tr.row10, table tr.row12, table tr.row14, table tr.row16 {
		background-color: #e6e6e6;
	}
	
	
/* ------------------------------------ LAYOUT ------------ */
#product-tabs  {
	position: relative; /* necessary for using z-index */
	z-index: 99999; /* puts tabs on top of comparison table so tabs look visually connected when highlighted */
	}
#product-package-comparison {
	border-top: 1px solid #a8a8a8;
	border-left: 1px solid #a8a8a8;
	border-bottom: 1px solid #a8a8a8;
	margin-top: -6px; /* overcomes float clearing issue */
	padding: 20px;
}
#company-data {
	background-color: #f2f2f2;
	border: 1px solid #cfcfcf;
	display: block;
	padding: 5px;
}
	
/* ------------------------------------ SITE HEADER ------------- */
header#site-header {
	border-bottom: 14px solid #808080;
	margin: 0px 0px 20px 0px;
	padding: 20px 0px 20px 0px;
}
	header#site-header  strong{
		font-weight: bold;
	}
	header#site-header  em{
		font-weight: bold;
		color: #d61d23;
	}
		header#site-header #header-banner {
			text-align: right;
		}
			header#site-header #header-banner #header-banner-mobile-alternate {    
				display: inline;
				float: right;
				margin-top: -70px;
				width: 150px;
			}

/* ------------------------------------ TESTIMONIALS ------------- */
#featured-testimonials #testimonial-1, 
#featured-testimonials #testimonial-2 {
	position: relative;
	width: 44%;
}
	#featured-testimonials #testimonial-1 {
		float: left;
	}
	#featured-testimonials #testimonial-2 {
		float: right;
	}

/* ------------------------------------ NAVIGATION --------------- */

/* Membership Comparison chart navigation tabs */
ul.content-tabs {
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
}
ul.content-tabs li {	
	float: left;
	list-style-position: inside;
	list-style-type: none;
	margin-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-indent: 0px;
}
	ul.content-tabs li a, 
	ul.content-tabs li a:hover, 
	ul.content-tabs li a:active, 
	ul.content-tabs li a:visited {
		background: #eff2f6; /* Old browsers */
		background: -moz-linear-gradient(top,  #eff2f6 0%, #dbe3ef 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eff2f6), color-stop(100%,#dbe3ef)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #eff2f6 0%,#dbe3ef 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #eff2f6 0%,#dbe3ef 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #eff2f6 0%,#dbe3ef 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #eff2f6 0%,#dbe3ef 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff2f6', endColorstr='#dbe3ef',GradientType=0 ); /* IE6-9 */
		border: 1px solid #a8a8a8;
		color: #184587;
		display: block;
		display : inline-block\9; /* hack - IE8 and below */  
		font-size: 14px;
		font-weight: bold;
		line-height: 34px;
		height: 34px;
		padding: 0px 10px 0px 10px;
		position: relative;
		text-decoration: none;
	}	
	ul.content-tabs li a:hover,
	ul.content-tabs li a.selected:hover,
	ul.content-tabs li a.selected:active,
	ul.content-tabs li a.selected:visited,
	ul.content-tabs li a.selected {
		background: #FFFFFF; /* Old browsers */
		background: -moz-linear-gradient(top,  #FFFFFF 0%, #FFFFFF 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #FFFFFF 0%,#FFFFFF 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #FFFFFF 0%,#FFFFFF 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
		border-bottom: 1px solid #FFFFFF;
		color: #000000;
		height: 34px;
		text-decoration: none;
	}
		ul.content-tabs li a:hover	{
			border-bottom: 1px solid #a8a8a8;
		
		}
		
		
/* Purchase Process Steps navigation */
#purchase-process-steps {
	margin: 4px 0px 10px 0px;
}
#purchase-process-steps ul {
	margin: 0px 0px 0px 14px;
	}
	#purchase-process-steps ul li {	
		float: left;
		font-size: 12px;
		list-style-position: inside;
		list-style-type: none;
		margin-left: -14px;
		text-indent: 0px;
		text-decoration: none;
	}
		#purchase-process-steps ul li a, 
		#purchase-process-steps ul li a:active, 
		#purchase-process-steps ul li a:visited {
			background: transparent url('../images/unselected.png') top right no-repeat scroll;
			color: #184587;
			display: block;
			display : block-inline\9; /* hack - IE8 and below */  
			height: 27px;
			padding: 5px 30px 0px 24px;
			text-decoration: none;
		}
			#purchase-process-steps ul li a:hover {
				background: transparent url('../images/selected.png') top right no-repeat scroll;
				display: block;
				display : block-inline\9; /* hack - IE8 and below */  
				color: #000000;
				height: 27px;
				padding: 5px 30px 0px 24px;
				text-decoration: none;
			}
			#purchase-process-steps ul li a.selected {
				background: transparent url('../images/selected.png') top right no-repeat scroll;
				color: #000000;
			}
				#purchase-process-steps ul li a.selected:hover {
					background: transparent url('../images/selected.png') top right no-repeat scroll;
					text-decoration: none;
				}		
		#purchase-process-steps ul li.first {
			position: relative;
			z-index: 400;
		}		
		#purchase-process-steps ul li.second {
			position: relative;
			z-index: 300;
		}		
		#purchase-process-steps ul li.third {
			position: relative;
			z-index: 200;
		}
		#purchase-process-steps ul li.forth {
			position: relative;
			z-index: 100;
		}


#page-completion-navigation	p {
	font-size: 13px;
	line-height: 14px;
	margin: 6px 0px 20px 0px;
	padding: 0;
	text-align: center;
}
	#page-completion-navigation p.navigate-back {
		color: #184587;
		font-size: 12px;
		font-style: italic;
		font-weight: bold;
		margin: 6px 0px 0px 0px;
		text-align: left;
	}	
	#page-completion-navigation p.next-step-button {
		margin: -7px 0px 0px 0px;
		}
		
		
/* ------------------------------------ BUTTONS -------------- */
/* for inline buttons such as in the package comparison chart */
.button-small {
	behavior: url(PIE.htc);
	background-color: #2f5e9f; 
	border: 1px solid #264064;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	border: 0px\9;  
	color: #ffffff;
	cursor: pointer; 
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 0px 6px 0px;
	text-shadow: 1px 1px 1px rgba(000,000,000,0.5), 0px 0px 0px rgba(255,255,255,0);
}
	.button-small:hover {
		behavior: url(PIE.htc);
		background-color: #193152; 
		border: 1px solid #000000;
		border: 0px\9; /* hack - IE8 and below */
		color: #ffffff; 
	}
/* for page to page navigation */
.purchase-steps-button, 
.purchase-steps-button:visited, 
.purchase-steps-button:active {
    background-color: #2F5E9F;
    border: 1px solid #A8A8A8;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 1px #000000;
	color: #FFFFFF;
    display: inline-block;
	font-size: 16px;
	font-style: bold;
    line-height: 15px;
    margin-top: 10px;
    padding: 12px 30px 12px 30px;
}



/* ------------------------------------ WEBSITE COPY -------------- */
/* copy which shows up instead of top banner - only on mobile devices */
p#header-banner-mobile-alternate {
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 14px;
}
	p#header-banner-mobile-alternate strong{
		color: #d61d23;
	}


/* ------------------------------------ TOOLTIPS -------------- */
a.tooltiplink {
	color: #2b4898;
	text-decoration: none;
	border-bottom: 1px dashed #2b4898;
}
	a.tooltiplink:hover {
		color: #000000;
	}
a.showhidelink {
	color: #184587;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
}
.tooltip {
	background-color: #faf8e1;
	border: 1px solid #adadad;
	-moz-box-shadow: 3px 3px #c6c6c6;
	-webkit-box-shadow: 3px 3px #c6c6c6;
	box-shadow: 3px 3px #c6c6c6;
	font-size: 12px;
	line-height: 13px;
	padding: 10px;
	width: 300px;
}
	.tooltip h4 { 
		font-size: 12px;
		font-weight: bold;
		margin-top: 0px;
		padding-bottom: 0px;
	}
	.tooltip p {
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 3px;
		margin-top: 4px;
	}

	
/* ------------------------------------ JQUERY -------------- */
/* hide all tabs on product comparison page by default */
#product-package-comparison,
#product-benefits,
#product-testimonials {
	display: none;
}
/* show only the first tab by default */
#product-package-comparison {
	display: block;
}
/* hide the Google Full Disclosure Legal copy by default */

#google-landing-page-disclaimer {
	display: none;
}



/* ------------------------------------ JQUERY SHOW HIDE TABS FOR PRODUCT COMPARISON PAGE -------------- */







/* ------------------------------------ MEDIA QUERIES FOR DIFFERENT DEVICES ----------------- */	

/* add these in later after everything tests out okay */
