<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <connectionStrings xdt:Transform="Remove" />
  <connectionStrings xdt:Transform="InsertBefore(/configuration/appSettings)">
    <add name="InternetContext" connectionString="will be replaced" providerName="System.Data.SQLClient" />
    <add name="ProductContext" connectionString="will be replaced" providerName="System.Data.SQLClient" />
    <add name="VelocityContext" connectionString="will be replaced" providerName="System.Data.SQLClient" />
    <add name="ASIInternetContext" connectionString="will be replaced" providerName="System.Data.SQLClient" />
    <add name="ProductContext" connectionString="will be replaced" providerName="System.Data.SQLClient" />
    <add name="CallContext" connectionString="will be replaced" providerName="System.Data.SQLClient" />
    <add name="Umbraco_ShowContext" connectionString="will be replaced" providerName="System.Data.SQLClient" />
    <add name="umbracoDbDSN" connectionString="will be replaced" providerName="System.Data.SQLClient" />
  </connectionStrings>
  <log4net xdt:Transform="Remove" />
  <log4net xdt:Transform="InsertAfter(/configuration/system.webServer)">
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <!--<appender name="Esb" type="ASI.Services.Logging.EsbLogAppender, ASI.Services.Logging">
      <applicationCode value="ASI.Admin"></applicationCode>
      <esbConnectionName value="EsbConnectionString"></esbConnectionName>
      <bufferSize value="5"></bufferSize>
      <interval value="5"></interval>
    </appender>-->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="..\Data\AdminToolLog.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="25MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>