@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Content Administration";
}

<h1>Welcome to the ASI Administration Area.</h1>
<p>Please select a content area to update from the options below.  If you do not see the area you wish to update, please contact <a href="mailto:asicentral-team@asinetwork.local">Content Administration Support.</a></p>

<!-- BEGIN listing of admin areas -->
<div id="admin-areas" class="clearfix">
	<section>
		<h1><a href="/store/Orders">ASI Store</a></h1>
		<a href="/store/Orders"><img src="images/admin-asi-store.gif" alt="ASI Store"></a>
		<p>Adding/Modifying the ASI Store Products and Content</p>
	</section>
	<section>
		<h1><a href="/Forms/Index">Store Forms</a></h1>
		<a href="/Forms/Index"><img src="images/admin-asi-store.gif" alt="Store Forms"></a>
		<p>Review and create new forms to be send to the customer for purchase</p>
	</section>
	<section>
		<h1><a href="/TermsConditions/Index">Terms and Conditions</a></h1>
		<a href="/TermsConditions/Index"><img src="images/admin-asi-store.gif" alt="Terms and Conditions"></a>
		<p>Review and create new Terms and Conditions</p>
	</section>
	<section>
		<h1><a href="/sgr/Company">Supplier Global Resource</a></h1>
		<a href="/sgr/Company"><img src="images/admin-sgr.gif" alt="Supplier Global Resource"></a>
		<p>Supplier Global Resource (SGR) product and content maintenance</p>
	</section>
	<section>
		<h1><a href="/Media/Index">Media Drive Manager</a></h1>
		<a href="/Media/Index"><img src="images/admin-media-links.gif" alt="Media Drive Manager"></a>
		<p>Used to view, download, upload and delete files on the media server</p>
	</section>
	<section>
		<h1><a href="/CallQueue">ASI Central</a></h1>
		<a href="/CallQueue/"><img src="images/admin-asicentral.gif" alt="ASI Central"></a>
		<p>Used manage the Call Me Queues on asicentral.com</p>
	</section>
    <section>
		<h1><a href="/show/ShowList">ASI Show</a></h1>
		<a href="/show/Show"><img src="images/admin-asi-store.gif" alt="ASI Show"></a>
		<p>Adding/Modifying the ASI Show and Attendee</p>
	</section>
</div><!-- END #admin-areas -->
