@using asi.asicentral.web

<p>This is the landing page for the Admin tool. It will contain links to anything which we need to access</p>

<ul>
    <li>@Html.ActionLink(Resource.SGRMaintenanceLink, "List", "../sgr/Company")</li>
    <li>@Resource.StoreAdminLink<ul>
        <li>@Html.ActionLink(Resource.StoreAdminOrders, "List", "../store/Orders")</li>
        <li>@Html.ActionLink(Resource.StoreAdminProducts, "List", "../store/Context")</li>
    </ul></li>
</ul>