<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Umbraco_ShowContext" connectionString="server=ASI-SQLDS-10.asinetwork.local;database=Umbraco_Show;user id=show_user;password=show_@dev;Application Name=ASIShow" providerName="System.Data.SqlClient" />
		<add name="umbracoDbDSN" connectionString="server=ASI-SQLDS-10.asinetwork.local;database=Umbraco;user id=asicentral_user;password=new32008_centuser;Application Name=ASICentral" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>