<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AsiOAuthClientId" value="d14629b20ab061856dfd567b0a8a5bd2e88fd9dd37be2312d9a21857adc6a175" />
    <add key="AsiOAuthClientSecret" value="8b6d8bf8f18ba965425ddcf4ebcbd082f636b559281fec8f3ac9c2c2b82bc15c" />
    <add key="JadeDaisyConfigFile" value="nanny-live.html" />
    <add key="RegistrySetting" value="HKEY_LOCAL_MACHINE\SOFTWARE\TMA Resources\UniversalWebService\ASIDEV" />
    <add key="svcUri" value="https://stage-personify.asicentral.com/DataServices/PersonifyDataASI.svc" />
    <add key="UserName" value="webuser" />
    <add key="Password" value="webuser2013" />
    <add key="EnableBasicAuthentication" value="true" />
    <add key="CommunicationFormat" value="XML" />
    <add key="PersonifyCreditCardCompany" value="Name=test;MasterCustomerId=999999999999;SubCustomerId=0;CompanyNumber=1" />
    <add key="UsePersonifyServices" value="True" />
  </appSettings>
</configuration>