<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="AsiOAuthClientId" value="aa25cd25224e6b7e8642f90522e41cae3c4289a824937832972be5da40e942a2" />
    <add key="AsiOAuthClientSecret" value="fe27b908fb79cc1bcb1e1495e13244906b2208f33e1e7eb02b4af6e324b9011c" />
    <add key="JadeDaisyConfigFile" value="http://daisy.asinetwork.local/debug/stg-test/oauth-config.json" />
    <add key="RegistrySetting" value="HKEY_LOCAL_MACHINE\SOFTWARE\TMA Resources\UniversalWebService\ASIDEV" />
    <add key="svcUri" value="https://stage-personify.asicentral.com/DataServices/PersonifyDataASI.svc" />
    <add key="UserName" value="webuser" />
    <add key="Password" value="webuser2013" />
    <add key="EnableBasicAuthentication" value="true" />
    <add key="CommunicationFormat" value="XML" />
    <add key="PersonifyCreditCardCompany" value="Name=test;MasterCustomerId=999999999999;SubCustomerId=0;CompanyNumber=1" />
    <add key="UsePersonifyServices" value="True" />
  </appSettings>
</configuration>